{% load staticfiles %}
<footer class="footer navbar-fixed-bottom">
    <ul class="nav navbar-nav navbar-right">
        <li>
        <p align="center">Centro Nacional de Desarrollo e Investigacion en Tecnologias Libres <a href="https://www.cenditel.gob.ve/"> <strong>Copyleft  {% now "Y" %}<span style="font: 18px Arial, sans-serif; display: inline-block; transform: rotate(180deg);">&copy;</span>CENDITEL</a>.</strong><p>
        </li>
        <li>
            <img class="img-responsive" src="{% static 'media/img/logo_cenditel_blanco.png' %}"/>
        </li>
    </ul>
</footer>